:root {
    --app-bg-color: #fff;
    --app-txt-color: #000;
    --primary-buttons: #000;
    --secondary-buttons: #42adff;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: inherit;
    font-family: "poppins";
    user-select: none;
}

body {
    background-color: #fff;
}


/* 

==== Helper Classes ====

*/

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 

==== Header ====

*/

.header {
    padding: 5rem 0 0 0;
}

.nav {
    width: 100%;
    border-bottom: 3px solid #dbe0f1b0;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__logo-text {
    font-size: 3rem;
    font-weight: bold;
    color: var(--secondary-buttons);
}

.header__menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.header__menu-item {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--app-txt-color);
    cursor: pointer;
}

.bi-chevron-down {
    color: var(--app-txt-color);
    margin-left: .5rem;
}

.header__links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5rem;
}

.header__link-button {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--app-txt-color);
}


/* 

==== Circle Shapes ====

*/

.circles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.circle {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    filter: blur(100px);
    opacity: .3;
    position: relative;
    bottom: 5rem;
}

.blue {
    background-color: var(--secondary-buttons);
}

.orange {
    background-color: orange;
}

.red {
    background-color: #ff0d56;
}

.violet {
    background-color: violet;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: greenyellow;
}


/* 

==== Home Section ====

*/

.home {
    margin-bottom: 5rem;
}

.home__title {
    text-align: center;
    font-size: 7rem;
    color: var(--app-txt-color);
}

.home__description {
    font-size: 1.9rem;
    text-align: center;
    margin-top: 2.5rem;
}

.home__search-box {
    width: 65rem;
    height: 8.5rem;
    background-color: #fff;
    border-radius: 5rem;
    border: 2px solid #d3d3d386;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin: 5rem auto 0 auto;
    box-shadow: 0 .2rem 1rem #d3d3d35b;
}

.option__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
}

.search-box__option {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    cursor: pointer;
}

.option__box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option__title {
    font-size: 1.5rem;
    font-weight: 500;
}

.option__item {
    font-size: 1.2rem;
    font-weight: 500;
    color: #838492;
}

.search__box-button {
    background-color: var(--secondary-buttons);
    width: 6rem;
    height: 6rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bi-search {
    font-size: 2rem;
    color: #fff;
}

.chevron-blue {
    font-size: 1.5rem;
    color: var(--secondary-buttons);
}

.home__photos {
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.3rem;
}

.home__photo {
    width: 25rem;
    height: 32rem;
    border-radius: 1rem;
    object-fit: cover;
}

#first__photo {
    transform: rotate(3deg);
    translate: 0 2rem;
}

#second__photo {
    transform: rotate(-2deg);
    translate: 0 -3rem;
}

#third__photo {
    transform: rotate(3deg);
    translate: 0 -1rem;
}

#fourth__photo {
    transform: rotate(-2deg);
    translate: 0 3rem;
}

#fifth__photo {
    transform: rotate(0deg);
}

#sexth__photo {
    transform: rotate(-3deg);
    translate: 0 3rem;
}


/* 

==== Explore Section ====

*/

.explore {
    background-color: #f8f8f8;
    padding: 5rem 0;
}

.explore__title {
    font-size: 5rem;
    text-align: center;
}

.explore__description {
    font-size: 1.9rem;
    text-align: center;
    margin-top: 1rem;
}

.explore__tours {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

.exlpore__tour-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tour__photo {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
}

.tour__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.8rem;
    color: var(--app-txt-color);
    cursor: pointer;
}

.tour__number {
    font-size: 1.2rem;
    font-weight: 500;
    color: #838492;
    margin-top: .5rem;
}

.explore__pagination {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__controlers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.bi-arrow-left-circle-fill {
    font-size: 3rem;
    color: var(--app-txt-color);
    cursor: pointer;
    margin: auto;
}

.pagination__shapes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
}

.pag__shape {
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    background-color: #cfcfde;
    cursor: pointer;
}

.pag__shape--active {
    width: 1.8rem;
    background-color: var(--primary-buttons);
}

.bi-arrow-right-circle-fill {
    font-size: 3rem;
    color: var(--app-txt-color);
    cursor: pointer;
    margin: auto;
}


/* 

==== Popular Section ====

*/

.popular {
    margin-top: 10rem;
}

.popular__title {
    font-size: 5rem;
    font-weight: bold;
}

.popular__description {
    font-size: 1.9rem;
    margin-top: 1.5rem;
}

.popular__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}

.filter__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.filter__option {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #fff;
    border: 1.5px solid #a2a0b1;
    border-radius: 50px;
    padding: .8rem 2rem;
    cursor: pointer;
}

.filter__option--active {
    background-color: var(--primary-buttons);
    color: #fff;
    border: 2px solid var(--primary-buttons);
}

.filter__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link__button {
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--primary-buttons);
    border-radius: 50px;
    padding: 1rem 2.5rem;
    color: #fff;
}

.bi-arrow-up-right {
    font-size: 1.8rem;
}

.popular__box-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0 2rem 0;
}

.popular__box {
    width: 32rem;
    height: 35rem;
    border: 2px solid #d0d0d0;
    border-radius: 2rem;
}

.popular__photo {
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 2rem 2rem 0 0;
}

.popular__item-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
}

.item-info__name-score {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-info__name {
    font-size: 1.8rem;
}

.item-info__score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.bi-star-fill {
    color: #ffcc00;
    font-size: 1.5rem;
}

.item-info__score-number {
    font-size: 1.5rem;
    font-weight: 500;
}

.item-info__location {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .2rem;
    border-bottom: 1px solid #cfcfde;
    padding: 1.5rem 0 2rem 0;
}

.bi-geo-alt-fill {
    font-size: 1.2rem;
    color: #838492;
}

.item-info__location-name {
    font-size: 1.3rem;
    color: #a2a0b1;
    font-weight: 500;
}

.item-info__date-price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}

.item__date {
    font-size: 1.5rem;
    font-weight: 500;
    color: #838492;
}

.item__price {
    font-size: 1.8rem;
    font-weight: 600;
}

.item__price span {
    font-size: 1.2rem;
    font-weight: 500;
    color: #838492;
    margin-right: .4rem;
}


/* 

==== Destinations Section ====

*/

.destination {
    margin-top: 10rem;
}

.destination__title-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destination__title {
    font-size: 5rem;
}

.destination__gallery-columns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

.gallery__column {
    height: 500px;
}

.gallery__column-left {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gallery__item {
    position: relative;
    border-radius: 2rem;
}

.gallery__item-left {
    width: 100%;
    height: 47%;
}

.gallery__item-title {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    cursor: pointer;
}

.gallery__column-center {
    width: 33%;
}

.gallery__item-center {
    height: 100%;
}

.gallery__column-right {
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gallery__item-wrapper {
    width: 100%;
    height: 47%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery__item-right__top {
    width: 100%;
    height: 48%;
}

.gallery__item-right__buttom {
    height: 50%;
}

.buttom-left {
    width: 59%;
    height: 98%;
}

.buttom-right {
    width: 35%;
    height: 98%;
}


/* 

==== Relax Section ====

*/

.relax {
    margin-top: 15rem;
}

.relax__contents-wrapper {
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relax__left-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.relax__title {
    width: 88%;
    font-size: 5rem;
    font-weight: bold;
    line-height: 6rem;
}

.relax__description {
    margin-top: 3rem;
    font-size: 1.9rem;
    font-weight: 500;
}

.relax__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 4rem;
}

.relax__menu-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.relax__menu-items__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin-top: 1.5rem;
}

.relax__menu-items {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}

.relax__menu-item {
    display: flex;
    gap: .7rem;
}

.bi-check-circle-fill {
    font-size: 1.6rem;
}

.relax__menu-item__text {
    font-size: 1.5rem;
    font-weight: 500;
}

.relax__links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
}

.relax__link-btn {
    font-size: 1.5rem;
    font-weight: 500;
    width: 14rem;
    height: 4.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary__link {
    background-color: var(--secondary-buttons);
    color: #fff;
}

.secondary__link {
    background-color: #fff;
    color: var(--app-txt-color);
    border: 1px solid #a3a4b6;
}

.relax__right-content {
    width: 50%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.relax__image {
    width: 50rem;
    height: 100%;
    border-radius: 4rem;
}

.relax__emma {
    width: 19rem;
    height: 6rem;
    border-radius: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #dddde6;
    background-color: #fff;
    position: absolute;
    top: 10rem;
    left: 7.5rem;
}

.relax__emma-img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 5rem;
}

.relax__emma-infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 1rem;
}

.relax__emma-name {
    font-size: 1.3rem;
    font-weight: 600;
}

.relax__emma-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}

.bi-star-fill {
    font-size: 1.1rem;
}

.relax__emma-number {
    color: #a3a4b6;
}

.relax__emma-caption {
    color: #626371;
}

.relax__emma-location {
    width: 23rem;
    height: 5rem;
    background-color: #fff;
    border: 1px solid #dddde6;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    position: absolute;
    right: 13rem;
    bottom: -2.2rem;
}

.bi-geo-alt-fill {
    font-size: 1.6rem;
    color: var(--app-txt-color);
}

.emma__location-address {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--app-txt-color);
}


/* 

==== Cars Section ====

*/

.cars {
    margin-top: 10rem;
    background-color: #f8f8f8;
    padding: 5rem 0;
}

.cars__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cars__left-content {
    width: 50%;
    height: 52rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cars__circle {
    width: 50rem;
    height: 50rem;
    border: 1px solid #a3a4b6;
    border-radius: 50%;
    position: absolute;
}

.first-circle {

}

.second-circle {
    top: 3rem;
    left: 0;
}

.cars__image {
    width: 20rem;
    height: 25rem;
    object-fit: cover;
    position: absolute;
    border-radius: 1.5rem;
}

.image1 {
    top: 3rem;
    left: 10rem;
    transform: rotate(5deg);
}

.image2 {
    left: 10rem;
    bottom: 0;
    transform: rotate(-20deg);
}

.image3 {
    right: 12rem;
    transform: rotate(20deg);
}

.cars__right-content {
    width: 50%;
    height: 52rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

.cars__title {
    width: 100%;
    font-size: 5rem;
    font-weight: bold;
}

.cars__description {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
}

.cars__links {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.cars__link-btn {
    font-size: 1.5rem;
    font-weight: 500;
    width: 14rem;
    height: 4.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 

==== Working Section ====

*/

.Working {
    margin-top: 15rem;
}

.working__title {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.working__description {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    letter-spacing: .5px;
}

.working__boxes-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    position: relative;
}

.working__explore-box {
    width: 40rem;
    border: 2px solid #cfcfde;
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem 1.5rem;
}

.explore__box-number {
    width: 4rem;
    height: 4rem;
    background-color: var(--primary-buttons);
    border-radius: .7rem;
    font-size: 1.8rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore__box-title {
    font-size: 2rem;
    font-weight: 600;
}

.explore__box-caption {
    font-size: 1.5rem;
    font-weight: 500;
}

.working__circles {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18rem;
}

.working__circle {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(200px);
    z-index: -1;
}

.working__circle .blue {
    background-color: #42adff;
}

.working__circle .violet {
    background-color: #ee82ee;
}


/* 

==== Choose Section ====

*/

.choose {
    margin-top: 15rem;
}

.choose__title {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.choose__description {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1.5rem;
}

.choose__boxes-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choose__box {
    width: 20rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #cfcfde;
    border-radius: .8rem;
}

.choose__box-number {
    font-size: 2rem;
    font-weight: 600;
}

.choose__box-caption {
    font-size: 1.5rem;
}

/* 

==== Connection Section ====

*/

.connection {
    margin-top: 15rem;
}

.connection__content-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.connection__left-content {
    width: 40%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
}

.connection__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connection__item-icontitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bi-mortarboard-fill {
    font-size: 2rem;
}

.connection__item-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: .5rem;
}

.connrction__item-description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.bi-sliders2-vertical {
    font-size: 2rem;
}

.bi-globe-americas {
    font-size: 2rem;
}

.connection__right-content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.connection__map {
    width: 85%;
    height: 100%;
    border-radius: 2rem;
}

.connection__below-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin-top: 7rem;
}

.connection__image {
    width: 15rem;
    height: 5rem;
}


/* 

==== Community Section ====

*/

.community {
    margin-top: 10rem;
    background: linear-gradient(120deg, #222832 , #0E1115 40%);
    overflow: hidden;
}

.community__content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.community__left-content {
    width: 50%;
    height: 78rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.community__title {
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
}

.community__description {
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    margin-top: 2rem;
}

.community__right-content {
    width: 50%;
    height: 78rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.community__image {
    width: 90%;
    position: absolute;
    top: -17rem;
}